# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
.env
env

# Ambiente Virtual
venv/
.env

# Docker
*.tar
*.log

# IDEs e editores de texto
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações de sistema
*.iml

.terraform
.tfstate
.lock